* {
    font-family: Calibri, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    margin-top: 105px;
    height: auto;
}

#group-img {
    position: absolute;
    top: 5px;
}

#group-3 {
    position: absolute;
    top: 0;
    left: 25px;
}

.cart {
    position: relative;
    display: flex;
    border: 1px solid rgba(151, 151, 151, 0.181927);
    border-radius: 12px;
}

.card-content {
    position: relative;
    margin-left: 11px;
}

.card-img {
    position: relative;
}

.nav-tabs .nav-item .nav-link {
    border: unset;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}

.nav-tabs .nav-link {
    color: black;
    padding: 10px 30px;
    border-radius: 27px;
    font-size: 20px;
    transition: 0.4s linear;
}
.nav-item .active {
    background-color: #F1B301 !important;
    color: white;
}

.nav-tabs .nav-link:hover {
    background-color: #F1B301;
    text-decoration: none;
    color: white;
}

.rounded .fire {
    background: rgba(255, 255, 255, 0.203344);
    box-shadow: none;
    margin: 20px 0 0 20px;
    padding: 3px 15px;
    display: flex;
    border-radius: 19px;
    align-items: center;
    height: auto;
    width: auto;
    justify-content: center;
}

.rounded .fire img {
    margin-right: 11px;
}

.rounded .fire h5 {
    padding: 0;
    margin-top: 5px;
    color: white;
    font-size: 16px;
}

.fire {
    top: 0;
    left: 0;
    padding: 15px;
    position: absolute;
    background: rgba(255, 255, 255, 0.249235);
    box-shadow: 0 7px 30px rgba(238, 39, 68, 0.355086);
    backdrop-filter: blur(8.15485px);
    border-radius: 100%;
}


.plus-minus {
    color: white;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-size: 35px;
    align-items: center;
    font-weight: normal;
    width: 55px;
    height: 55px;
    position: absolute;
    background: #F1B301;
    border-radius: 100%;
}

#pitsaseemore, #burgerseemore {
    display: none;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 63px;
    color: #222124;
    margin-bottom: 25px;
}

h2 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 29px;
    color: #222124;
}

h3 {
    font-weight: bolder;
    font-size: 30px;
    line-height: 29px;
    color: #222124;
}

p {
    font-size: 17px;
    line-height: 17px;
    color: #222124;
    mix-blend-mode: normal;
    opacity: 0.4;
    margin-bottom: 30px;
}

footer {

    background-color: #800A7A;
    height: 501px;
}

.google-play:hover {
    color: #f7f7f7;
    text-decoration: none;
}

.app-store:hover {
    color: #f7f7f7;
    text-decoration: none;
}

.google-play, .app-store {
    color: #f7f7f7;
    font-size: 20px;
    width: 250px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.292941);
    box-sizing: border-box;
    backdrop-filter: blur(27.1828px);
    border-radius: 46px;
    padding: 20px 40px;
}

.app-store {
    margin-left: 30px;
}

#foot-mobil {
    margin-top: 75px;
    margin-bottom: 63px;
    font-weight: bold;
    font-size: 62px;
    line-height: 63px;
    color: #FFFFFF;
}

#footer {
    position: relative;
}

#white, #path {
    position: absolute;
    width: 859px;
    right: -150px;

}

#white {
    top: -125px;
}

#path {
    width: 809px;
    top: 100px;
    right: -400px;
}

ul {
    line-height: 35px;
}

li > img {
    filter: brightness(0) invert(0.4);
}

#google-img, #store-img {
    width: 30px;
    margin-right: 15px;
}

.navi-par {
    font-size: 20px;
    font-weight: 600;
}

#top-container {
    position: relative;
    margin-top: 0;
    background: linear-gradient(90deg, white 0%, white 60.5%, #800A7A 55%, #800A7A 100%)
}

#top-container h1 {
    margin-top: 129px;
    margin-bottom: 14px;
    font-weight: bolder;
    font-size: 105px;
    line-height: 105px;
    color: #222124;
}

@media (max-width: 576px) {
    #top-container h1 {
        color: white;
    }

    #mwlogo {
        width: 1px;
    }


    h1 {
        text-align: center;
        font-size: 36px;
    }

    h6 {
        font-size: 16px;
        line-height: 19px;
        color: #222124;

    }

    .container {
        margin-top: 52px;
    }

    #pitsa {
        height: 610px;
        overflow: hidden;
    }

    #burger {
        height: 425px;
        overflow: hidden;

    }

    #pitsaseemore, #burgerseemore {
        margin-top: 24px;
        display: flex;
        width: 382px;
        height: 46px;
        background: #F1F1F1;
        border-radius: 27px;
        justify-content: center;
        align-items: center;

    }

    .cart {
        width: 382.7px;
        height: 163px;
    }

    .card-img > img {
        width: 127px;
        height: 127.57px;
    }

    .fire {
        padding: 8px;
        box-shadow: 0 7px 30px rgba(238, 39, 68, 0.355086);
    }

    .plus-minus {
        font-size: 15px;
        width: 35px;
        height: 35px;
        margin-bottom: 0;
    }

    h2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 7px;
    }

    h3 {
        font-size: 18px;
        line-height: 22px;
    }

    p {
        margin-bottom: 17px;
        font-size: 12px;
        line-height: 15px;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 36px;
    }

    .container {
        margin-top: 40px;
    }

    .cart {
        width: 382.7px;
        height: 163px;
    }

    .card-img > img {
        width: 127px;
        height: 127.57px;
    }


    .fire {
        padding: 8px;
        box-shadow: 0 7px 30px rgba(238, 39, 68, 0.355086);
    }

    .plus-minus {
        font-size: 15px;
        width: 35px;
        height: 35px;
        margin-bottom: 0;
    }

    h2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 7px;
    }

    h3 {
        font-size: 18px;
        line-height: 22px;
    }

    p {
        margin-bottom: 17px;
        font-size: 12px;
        line-height: 15px;
    }

}


/*.border {*/
/*    border: 2px solid black;*/
/*}*/

/*.title {*/
/*    font-size: 50px;*/
/*    font-weight: 900;*/
/*}*/

/*@media (max-width: 576px) {*/
/*    .title {*/
/*        font-size: 30px;*/
/*        font-weight: 200;*/
/*        color: red;*/
/*    }*/
/*}*/

/*@media (min-width: 577px) and (max-width: 768px) {*/
/*    .title {*/
/*        font-size: 40px;*/
/*        font-weight: 400;*/
/*        color: blue;*/
/*    }*/
/*}*/

/*@media (min-width: 769px) and (max-width: 992px) {*/
/*    .tit  le {*/
/*        font-size: 45px;*/
/*        font-weight: 600;*/
/*        color: yellow;*/
/*    }*/
/*}*/
/*@media (min-width: 993px) and (max-width: 1200px) {*/
/*    .title {*/
/*        font-size: 50px;*/
/*        font-weight: 900;*/
/*        color: purple;*/
/*    }*/
/*}*/
